
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <h2 class="post-title">
            New Blog
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-1 col-lg-offset-1 col-md-10 col-md-offset-1">
      <%= render 'form' %>
      <%= link_to 'Back', blogs_path %>
    </div>
  </div>
</div>


