<header class="intro-header" style="background-image: url('/assets/wall.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Authors: Blog</h1>
          <hr class="small">
          <span class="subheading">Blogging for Product Managers</span>
        </div>
      </div>
    </div>
  </div>
</header>

  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">This is a modal</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<p>The content goes here.</p>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<p>This is the footer.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% @authors.each do |author| %>
                    <div class="post-preview">
                      <%= link_to(author) do %>
                            <h2 class="post-title"><%= author.name %>
                    </h2>
                      <% end %>
                    </div>
                    <div>
                      <% if signed_in? && current_user.admin? %>
                          <%= link_to 'Edit', edit_author_path(author) %>
                      <% end %>
                    </div>
                    <hr>
                <% end %>
                <ul class="pager">
                  <li class="next">
                    <% if signed_in? && current_user.admin? %>
                        <%= link_to 'Add Author', new_author_path %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





