<div class="page-header">
  <h1>View Author <i class="fa fa-child fa-1x"></i></h1>
</div>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          View Author
          <div class="pull-right">
            <a href="/authors">Authors <i class="fa fa-child" aria-hidden="true"></i></a>
            <%= link_to 'Edit', edit_author_path(@author) %>
          </div>
        </div>
        <div class="panel-body">
          <div class="field">
            <strong>Author name:</strong>
            <%= @author.name %>
          </div>
          <div class="field">
            <strong>Email:</strong>
            <%= @author.email %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
